# Core functionality - changes here should be rare!
/src/app.py                   @davidagler
/src/backend/database.py      @davidagler
/src/backend/routers/auth.py  @davidagler

# The frontend will need refactored soon to be more object oriented.
/src/static/   @davidagler
